<form (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="correo_usuario" class="form-label">Correo Electrónico</label>
      <input
        type="email"
        id="correo_usuario"
        #correoInput
        class="form-control"
        placeholder="Ingresa tu correo"
        required
      />
    </div>
    <div class="mb-3">
      <label for="pass_usuario" class="form-label">Contraseña</label>
      <input
        type="password"
        id="pass_usuario"
        #passInput
        class="form-control"
        placeholder="Ingresa tu contraseña"
        required
      />
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </div>
  </form>
  