<div class="card mb-4 card-hover" style="max-width: 300px; margin: auto;">
    <img class="card-img-top img-fluid" [src]="post.img" alt="Title" />
    <div class="card-body">
        <h4 class="card-title text-center">{{ post.nombre }}</h4>
        <div class="d-flex justify-content-center">
            <button
                (click)="goToDetail()"
                type="button"
                class="btn btn-primary ms-2"
            >
                Ver más
                <i class="fa-regular fa-eye"></i>
            </button>
        </div>
    </div>
</div>

<!--*ngIf="isLoggedIn"-->