<div class="card mb-4 card-hover ">
    <img class="card-img-top d-block mx-auto" [src]="post.img" style="width: 300px;" alt="Title" />
    <div class="card-body">
        <h4 class="card-title d-flex justify-content-center">{{post.nombre}}</h4>
        <div class="card-body d-flex justify-content-center">
            <button
                (click)="goToDetail()"
                type="button"
                class="btn btn-primary ms-2"
            >
                Ver más
                <i class="fa-regular fa-eye"></i>
            </button>
        </div>
    </div>
</div>
