<nav
    class="navbar navbar-expand-sm navbar-light bg-warning"
>
    <div class="container">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/inicio">Inicio</a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/cocteles">Cocteles</a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/postres">Postres</a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/ninos">Niños</a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/desayuno">Desayunos</a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/ensaladas">Ensaladas</a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/pastas">Pastas</a>
       
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                
               
                
            </ul>
           
            
        </div>
    </div>
</nav>
