<!-- <h1 class="text-center mt-3">COCTELES</h1>
 <div class="container-fluid mt-3">
    <div class="row">
        @for (coct of coctelito; track $index) {
        <div class="col-4">

            <div class="card">
                <img class="card-img-top" [src]="coct.img" style="width: 300px;"alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">{{coct.nombre}}</h4>
                </div>
            </div>
        </div>
    }
    </div>
</div>-->

<h1 class="text-center mt-3">COCTELES</h1>
 <div class="container-fluid mt-3">
    <div class="row">
        @for (postt of postre; track $index) {
        <div class="col col-12  col-sm-6 col-md-3 col-lg-3">
            <app-card [post]="postt"> </app-card>
        </div>
    }
    </div>
</div>


   




